<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.aib.aibaccountopening"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ie.aib.aibaccountopening.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.aib.aibaccountopening.AccountType"
            android:label="@string/title_activity_account_type" >
        </activity>
        <activity
            android:name="ie.aib.aibaccountopening.StartPhotoID"
            android:label="@string/title_activity_start_photo_id"
            android:parentActivityName="ie.aib.aibaccountopening.AccountType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.aib.aibaccountopening.AccountType" />
        </activity>
        <activity
            android:name="ie.aib.aibaccountopening.EndPhotoID"
            android:label="@string/title_activity_end_photo_id"
            android:parentActivityName="ie.aib.aibaccountopening.StartPhotoID" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.aib.aibaccountopening.StartPhotoID" />
        </activity>
        <activity
            android:name="ie.aib.aibaccountopening.PhotoOCR"
            android:label="@string/title_activity_photo_ocr"
            android:parentActivityName="ie.aib.aibaccountopening.StartPhotoID" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.aib.aibaccountopening.StartPhotoID" />
        </activity>
    </application>

</manifest>